.loader{
width: 10rem;
height: 10rem;
border-radius: 50%;
border: 0.7rem solid white;
border-top: 0.7rem solid #2179c2;
animation: spin 2s linear infinite;
}
@keyframes spin {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}

.choice-container{
  display: flex;
  margin-bottom: 0.5rem;
  width:100%;
  font-size: 1.8rem;
  border: 0.1rem solid #edf5f5;
  background-color: white;
}
.choice-container:hover{
  cursor:pointer;
  box-shadow: 0 0.4rem 1.4rem 0 #2179c2;
  transform: translateX(-0.1rem);
  transition: transform 150ms;
}
.choice-prefix{
  padding: 1.5rem 2.5rem;
  background-color:#2179c2;
  color:white;
}

.choice-text{
  padding:1.5rem;
  width: 100%;
}
.correct{
  background-color:#1c7a48;
  color:white;
}
.incorrect{
  background-color: #ba4318;
  color:white;
}
/*hud*/
#hud{
  display: flex;
  justify-content: space-between;
}
.hud-prefix{
  text-align: center;
  font-size: 2.5rem;
}
.hud-main-text{
  text-align: center;
}

#progressBar{
  width:20rem;
  height:3rem;
  border: 0.2rem solid #2179c2;
  margin-top: 2rem;
}

#progressBarFull{
  height:2.8rem;
  background-color:#2179c2;
}
@media screen and (max-width:991px) {
  .choice-container{
    width:100%;
  }
  .choice-prefix{
   font-size: 60px;
  }
  .choice-text{
    font-size: 60px;
  }
  #question{
    font-size: 50px;
  }
  .hud-prefix{
    font-size: 50px;
  }
}
